# makefile personal config
compiler/config.mk

# compiled files
compiler/build/
compiler/ifcc
bin/
compiler/bin
*.s

#generated code
compiler/generated/
compiler/.antlr/
ifcc-test-output
bin/
compiler/bin
*.s

#generated code
compiler/generated/
compiler/.antlr/
ifcc-test-output

.vscode
